.btn {
    width: 100%;
    border: 3px solid black;
    background: none;
    aspect-ratio: 1/1;
    font-size: 2.5rem;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.btn.active {
    background-color: hsl(80,60%,35%);
    color: white;
}

.btn.inactive {
    opacity: .3;
}

.btn:hover:not(:disabled),
.btn:focus:not(:disabled) {
    background-color: hsl(80,61%,50%);
}